@tailwind base;
@tailwind components;
@tailwind utilities;



.fade {
}
  
.fadeOut { 
    opacity: 0;
    transition: 0s;
    transform: translateY(1%);
}
.fadeIn { 
    opacity: 1; 
    transition: 2s;
    transform: translateY(1%);
}


.box-bg {
    --dot-size: 2px;
    --dot-space: 10px;
  
    background: linear-gradient(
          90deg,
          #fff calc(var(--dot-space) - var(--dot-size)),
          transparent 1%
        )
        center/var(--dot-space) var(--dot-space),
      linear-gradient(
          #fff calc(var(--dot-space) - var(--dot-size)),
          transparent 1%
        )
        center/var(--dot-space) var(--dot-space),
      #101010;
  }